.App {
    text-align: center;
    min-width: 450px;
    overflow: auto;
}

.App *:focus {
    outline: 0;
}

.App > .__genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 5rem;
}

.App > .__genres > div {
    padding: 0.45rem 0.5rem;
    border: 1px solid #CCCCCC;
    margin: 0.35rem;
    cursor: pointer;
    transition: background 250ms ease-out;
    border-radius: 5px;
}

.App > .__genres > div:hover {
    background-color: #EAEAEA;
}

.App > .__genres > div.active {
    background-color: #CCCCCC;
}

.App > .__search-input > input {
    width: 50%;
    height: 1rem;
    padding: 0.65rem;
    font-size: 0.925rem;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.App > .__search-input > span {
    cursor: pointer;
    margin-left: 1rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease-out;
}

.App > .__search-input > span:hover {
    border-color: #7F7F7F;
}

.App > .__pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 50%;
    margin: 2rem auto;
    cursor: pointer;
    font-size: 0.925rem;
}

.App > .__pagination > li {
    flex-basis: 40px;
    border-bottom: 2px solid #DBDBDB;
    transition: border 250ms ease-out;
}

.App > .__pagination > li > a {
    display: block;
    padding-bottom: 0.65rem;
}

.App > .__pagination > li:hover {
    border-color: #7F7F7F;
}

.App > .__pagination > li.--active {
    border-color: #000;
}

.App > .__results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.App > .__no-results {
    margin-top: 2rem;
}