.App {
    text-align: center;
    min-width: 450px;
    overflow: auto;
}

.App *:focus {
    outline: 0;
}

.App > .__search-input > input {
    width: 50%;
    height: 1.25rem;
    padding: 0.25rem;
    font-size: 0.925rem;
}

.App > .__search-input > span {
    cursor: pointer;
    margin-left: 1rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease-out;
}

.App > .__search-input > span:hover {
    border-color: #7F7F7F;
}