.MovieResult {
	margin: 1.25rem;
	flex: 1;
}

.MovieResult > a {
	text-decoration: none;
	color: #000;
}

.MovieResult > a > .__poster {
	transition: opacity 250ms ease-out;
}

.MovieResult > a > .__poster:hover {
	opacity: 0.6;
}

.MovieResult > a > .__poster > img {
	width: 150px;
	height: 225px;
}

.MovieResult > a > .__poster > .--unavailable {
	width: 148px;
	height: 225px;
	border: 1px solid #9B9B9B;
	margin: 0 auto;
	font-size: 0.925rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.MovieResult > div {
	padding-top: 0.5rem;
}