.Movie > .__similar {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.9);
	color: ghostwhite;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.Movie > .__similar > .__container {
	display: flex;
	overflow-y: auto;
	margin: 2rem;
}

.Movie > .__buttons {
	display: flex;
	justify-content: center;
}

.Movie > .__buttons > .__button {
	text-align: center;
	width: 200px;
	padding: 0.5rem;
	margin: 1rem 1rem 0;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	cursor: pointer;
	transition: background 250ms ease-in;
}

.Movie > .__buttons > .__button:hover {
	background-color: #CCCCCC;
}

.Movie > .__buttons a {
	text-decoration: none;
	color: black;
	display: block;
}

.Movie > .__body {
	display: flex;
	margin: 1rem auto;
	max-width: 70%;
}

.Movie > .__body > .__details,
.Movie > .__body > .__poster {
	flex: 1;
	padding: 1rem;
}

.Movie > .__body > .__poster {
	text-align: right;
}

.Movie > .__body > .__poster > img {
	max-width: 100%;
	max-height: 100%;
}

.Movie > .__body > .__poster > div {
	text-align: center;
	position: relative;
	top: 45%;
}

.Movie > .__body > .__details {
	flex: 1;
	text-align: left;
}

.Movie > .__body > .__details > .title {
	margin-bottom: 0.25rem;
}

.Movie > .__body > .__details > .tagline {
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 0.35rem;
}

.Movie > .__body > .__details > .date,
.Movie > .__body > .__details > .rating {
	color: #5B5B5B;
	font-size: 0.925rem;
}

.Movie > .__body > .__details > .genre {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.9rem;
}

.Movie > .__body > .__details > .genre > div {
	border: 1px solid #CCCCCC;
	margin: 0.35rem 0.25rem 0 0;
	padding: 0rem 0.45rem 0.15rem;
	border-radius: 4px;
}

.Movie > .__body > .__details > .summary {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid #CCCCCC;
}

.Movie > .__body > .__details > .production {
	font-size: 0.925rem;
	margin-top: 2rem;
}

.Movie > .__body > .__details > .production > div:first-child {
	font-weight: bold;
}